# Environment variables
.env
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Vector stores
# data/vector_stores/

# # Personal files
data/resumes/
data/cover_letter_examples/

# Output files
# data/output/

# Logs
*.log
logs/

# Opencode config
.opencode/
